@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #f1f5f9;
}

button,
select,
textarea,
input {
  font: inherit;
}
